@import '~taro-ui/dist/style/components/avatar.scss';

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .nickName {
    margin-top: 10px;
    color: #666;
  }

  .count {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .item {
      flex: 1;
      padding: 0 15px;
      text-align: center;

      .text {
        margin-left: 10px;
        color: #666;

      }

      &:first-child {
        border-right: 5px solid rgb(0, 0, 0);
      }
    }
  }
}
