.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: constant(safe-area-inset-bottom); /*兼容 IOS<11.2*/
  bottom: env(safe-area-inset-bottom); /*兼容 IOS>11.2*/
  .itemWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon{
      width: 80px;
      height: 80px;
    }
    .text{
      font-size: 24px;
      font-weight: 400;
      &.select{
        color: #0c9;
      }
    }
  }
}
